* {
  border: none;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url(https://s3.us-east-2.amazonaws.com/fec-hrr37-brian/space.jpg);
  background-size: cover;
}